header {
    background-color: darkolivegreen;
    text-align: center;
    color: lightgray
}

main {
    background-color: lightgray;
    padding: 1em;
}

body {
    background-image: url("file:///Users/natkoch/Downloads/record.png");
    margin: 0;
}